/* ===== ШРИФТЫ ===== */
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  font-display: swap;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* ===== ГЛОБАЛЬНЫЕ СТИЛИ И УНИВЕРСАЛЬНЫЕ БЛОКИ ===== */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.block-with-divider {
  border-bottom: 2px solid #eeeeee;
}

.btn {
  display: inline-block;
  padding: 16px 54px;

  font-weight: 500;
  line-height: 1.125;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 2px;

  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.btn--red {
  background-color: #fb565a;
}

.btn--red:hover {
  background-color: #e74246;
}

.btn--red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: inset 0 4px 0 0 #c13135;
          box-shadow: inset 0 4px 0 0 #c13135;
}

.btn--green {
  background-color: #00ca74;
}

.btn--green:hover {
  background-color: #00bc6c;
}

.btn--green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  -webkit-box-shadow: inset 0 4px 0 0 #009958;
          box-shadow: inset 0 4px 0 0 #009958;
}

.btn--yellow {
  background-color: #efc84a;
}

.btn--yellow:hover {
  background-color: #eab534;
}

.btn--yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  -webkit-box-shadow: inset 0 4px 0 0 #ce961f;
          box-shadow: inset 0 4px 0 0 #ce961f;
}

.btn--gray {
  background-color: #eeeeee;
}

.btn--gray:hover {
  background-color: #dfdfdf;
}

.btn--gray:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 4px 0 0 #bfbfbf;
          box-shadow: inset 0 4px 0 0 #bfbfbf;
}

/* ===== *** ШАПКА *** ===== */
.page-header {
  padding-top: 50px;
  padding-bottom: 18px;

  background-color: #eeeeee;
}

.page-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-navigation__logo[href]:hover {
  opacity: 0.8;
}

.page-navigation__logo[href]:active {
  opacity: 0.3;
}

.page-navigation__list,
.page-navigation__shop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-navigation__list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 800px;
}

.page-navigation__shop-list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.page-navigation__item:not(:last-child) {
  margin-right: 45px;
}

.page-navigation__link,
.page-navigation__shop-link {
  font-weight: 500;
  line-height: 1.875;
  color: #000000;
  text-transform: uppercase;
}

.page-navigation__shop-link {
  padding-left: 42px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position-y: 3px;
  background-size: 15px 15px;
}

.page-navigation__link[href]:hover,
.page-navigation__shop-link[href]:hover {
  color: #fb565a;
}

.page-navigation__link[href]:active,
.page-navigation__shop-link[href]:active {
  color: #000000;

  opacity: 0.3;
}

.page-navigation__link.current,
.page-navigation__shop-link.current {
  border-bottom: 2px solid #fb565a;
}

.page-title {
  margin-top: 80px;
  margin-bottom: 100px;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  text-align: center;
  color: #000000;
}

/* ===== *** ПОДВАЛ *** ===== */
/* ===== КОНТАКТЫ ===== */
.map-and-contacts {
  position: relative;

  width: 100%;
  min-width: 1200px;
  height: 417px;

  background-color: #f1efe8;
  background-image: url("../img/map-with-marker.png");
  background-repeat: no-repeat;
  background-position: 0 -150px;
}

.map {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
}

.contacts-wrap {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  padding-top: 55px;
}

.contacts {
  width: 320px;
  padding: 47px 50px;

  background-color: #ffffff;
}

.contacts__caption {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  color: #000000;
  text-transform: uppercase;
}

.contacts__address,
.contacts__telephone,
.contacts__telephone a {
  line-height: 1.125;
  color: #666666;
}

.contacts__address {
  margin-bottom: 18px;

  font-style: normal;
}

.contacts__telephone {
  margin-top: 0;
  margin-bottom: 40px;
}

.contacts__link {
  padding-right: 45px;
  padding-left: 45px;
}

/* ===== ОБРАТНАЯ СВЯЗЬ ===== */
.popup {
  position: fixed;
  bottom: 130px;
  left: 50%;

  width: 960px;
  padding-top: 73px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.popup--no-js {
  position: static;

  margin: 0 auto;
}

@-webkit-keyframes show-form {
  0% {
    -webkit-transform: scaleY(0) translate(-50%, -100%);
            transform: scaleY(0) translate(-50%, -100%);
  }
  50% {
    -webkit-transform: scaleY(1) translate(-50%, 20%);
            transform: scaleY(1) translate(-50%, 20%);
  }
  70% {
    -webkit-transform: scaleY(0.8) translate(-50%, 0);
            transform: scaleY(0.8) translate(-50%, 0);
  }
  90% {
    -webkit-transform: scaleY(1) translate(-50%, 10%);
            transform: scaleY(1) translate(-50%, 10%);
  }
  100% {
    -webkit-transform: scaleY(1) translate(-50%, 0);
            transform: scaleY(1) translate(-50%, 0);
  }
}

@keyframes show-form {
  0% {
    -webkit-transform: scaleY(0) translate(-50%, -100%);
            transform: scaleY(0) translate(-50%, -100%);
  }
  50% {
    -webkit-transform: scaleY(1) translate(-50%, 20%);
            transform: scaleY(1) translate(-50%, 20%);
  }
  70% {
    -webkit-transform: scaleY(0.8) translate(-50%, 0);
            transform: scaleY(0.8) translate(-50%, 0);
  }
  90% {
    -webkit-transform: scaleY(1) translate(-50%, 10%);
            transform: scaleY(1) translate(-50%, 10%);
  }
  100% {
    -webkit-transform: scaleY(1) translate(-50%, 0);
            transform: scaleY(1) translate(-50%, 0);
  }
}

@-webkit-keyframes hide-form {
  0% {
    -webkit-transform: scaleY(1) translate(-50%, 0);
            transform: scaleY(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scaleY(0) translate(-50%, -100%);
            transform: scaleY(0) translate(-50%, -100%);
  }
}

@keyframes hide-form {
  0% {
    -webkit-transform: scaleY(1) translate(-50%, 0);
            transform: scaleY(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scaleY(0) translate(-50%, -100%);
            transform: scaleY(0) translate(-50%, -100%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-55%);
            transform: translateX(-55%);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
}

.popup--show {
  -webkit-animation-name: show-form;
          animation-name: show-form;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.popup--hide {
  -webkit-animation-name: hide-form;
          animation-name: hide-form;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;

  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.popup--error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
}

.popup__title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: #000000;
}

.popup__form-label {
  font-weight: 700;
  line-height: 1.125;
  color: #000000;
}

.popup__form-btn {
  padding-right: 83px;
  padding-left: 83px;

  border: none;
}

.popup__close-btn {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  background-color: #ffffff;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.popup__close-btn::before,
.popup__close-btn::after {
  content: "";
  position: absolute;
  right: 0;

  width: 28px;
  height: 4px;

  background-color: #ff555a;
  border-radius: 3px;
}

.popup__close-btn::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close-btn:hover,
.popup__close-btn:focus {
  opacity: 1;
}

.popup__close-btn:active {
  opacity: 0.1;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popup__form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 360px;
  margin-top: 0;
  margin-bottom: 35px;

}

.popup__form-group--wide {
  width: 760px;
  margin-bottom: 47px;
}

.popup__form-label {
  margin-bottom: 12px;
}

.popup__form-group input,
.popup__form-group textarea {
  padding-left: 15px;

  color: #000000;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.popup__form-group input::-webkit-input-placeholder,
.popup__form-group textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.5);
}

.popup__form-group input:-ms-input-placeholder,
.popup__form-group textarea:-ms-input-placeholder {
  color: rgba(0,0,0,0.5);
}

.popup__form-group input::-ms-input-placeholder,
.popup__form-group textarea::-ms-input-placeholder {
  color: rgba(0,0,0,0.5);
}

.popup__form-group input::placeholder,
.popup__form-group textarea::placeholder {
  color: rgba(0,0,0,0.5);
}

.popup__form-group input:hover,
.popup__form-group textarea:hover {
  border-color: #b4b9bb;
}

.popup__form-group input:focus,
.popup__form-group textarea:focus {
  color: #000000;

  border-color: #000000;
  outline: none;
}

.popup__form-group input:focus::-webkit-input-placeholder,
.popup__form-group textarea:focus::-webkit-input-placeholder {
  color: #000000;
}

.popup__form-group input:focus:-ms-input-placeholder,
.popup__form-group textarea:focus:-ms-input-placeholder {
  color: #000000;
}

.popup__form-group input:focus::-ms-input-placeholder,
.popup__form-group textarea:focus::-ms-input-placeholder {
  color: #000000;
}

.popup__form-group input:focus::placeholder,
.popup__form-group textarea:focus::placeholder {
  color: #000000;
}

.popup__form-group input {
  padding-top: 15px;
  padding-bottom: 15px;
}

.popup__form-group textarea {
  min-height: 118px;
  padding-top: 10px;
}

/* ===== СОЦСЕТИ ===== */
.socials-and-suggestions {
  padding-top: 70px;
  padding-bottom: 70px;
}

.socials-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 260px;
  max-width: 460px;
  margin-top: 0;
  margin-right: 140px;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 78px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.socials__link:hover {
  background-color: #e74246;
}

.socials__link:active {
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
          box-shadow: inset 0 3px 0 0 #c13135;
}

.socials__link:active img {
  opacity: 0.3;
}

.suggestions__slogan {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  color: #000000;
}

.suggestions__promo {
  margin: 0;

  line-height: 1.375;
  color: #444444;
}
/* ****** */

/* ===== *** ГЛАВНАЯ *** ===== */
/* ===== СЛАЙДЕР ===== */
.info-slider {
  position: relative;

  background-color: #eeeeee;
}

.info-slider__controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info-slider__controls-item {
  position: relative;

  display: inline-block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.info-slider__controls-item::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.info-slider__controls-item.active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.info-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-slider__item {
  display: none;
  padding-top: 65px;
  padding-bottom: 80px;

  background-repeat: no-repeat;
  background-position: 500px 0;
}

.info-slider__item.active {
  display: block;
}

.info-slider__item--design {
  padding-top: 60px;
  padding-right: 780px;

  background-image: url("../img/slide1.png");
  background-position: 430px 0;
}

.info-slider__item--proportions {
  padding-right: 600px;

  background-image: url("../img/slide2.png");
}

.info-slider__item--night-hardcore {
  padding-right: 700px;

  background-image: url("../img/slide3.png");
  background-position: 400px 5px;
}

.info-slider__item-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 1;
  color: #000000;
}

.info-slider__item-desc {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

/* ===== УСЛУГИ ===== */
.services {
  padding-top: 80px;
}

.services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services__list-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
  padding-top: 165px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__list-item:last-child {
  margin-right: 0;
}

.services__list-item--sites {
  background-image: url("../img/illustration-1.jpg");
}

.services__list-item--apps {
  background-image: url("../img/illustration-2.jpg");
}

.services__list-item--presentations {
  background-image: url("../img/illustration-3.jpg");
}

.services__item-subject {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
  text-transform: uppercase;
}

.services__item-lead {
  margin-top: 0;
  margin-bottom: 32px;
}

.services__item-link {
  padding-right: 39px;
  padding-left: 39px;
}

/* ===== О СТУДИИ ===== */
.about-studio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 75px;
}

.about-studio__description {
  width: 680px;
  padding-top: 80px;
}

.about-studio__description-text {
  margin-top: 0;
  margin-bottom: 40px;
}

.about-studio__description-lead {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 45px;
  line-height: 1;
  color: #000000;
}

.about-studio__description-subtitle {
  margin-top: 0;
  margin-bottom: 25px;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-studio__description-list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.about-studio__description-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-studio__description-list-item::before {
  content: "";

  display: inline-block;
  width: 25px;
  height: 2px;
  margin-top: 12px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #fb565a;
}

.about-studio__statistics {
  width: 360px;
  padding-top: 290px;

  background-image: url("../img/nerds-illustration.jpg");
  background-repeat: no-repeat;
  background-position-y: 40px;
}

.about-studio__statistics-table {
  border: none;
}

.about-studio__statistics-caption {
  margin-bottom: 40px;

  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.about-studio__statistics-table-percentage {
  font-weight: 700;
  font-size: 45px;
  line-height: normal;
  color: #000000;
}

.about-studio__statistics-table-percentage td {
  padding-bottom: 15px;
}

.about-studio__statistics-table-legend {
  line-height: 1.125;
}

/* ===== ПАРТНЁРЫ ===== */
.partners {
  margin-bottom: 80px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 180px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.partners__list-item {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  width: 280px;
  min-height: 90px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 0;
}

.partners__list-item:nth-child(n+2):nth-child(-n+3) {
  width: 300px;
}

.partners__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 1px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.partners__link {
  opacity: 0.2;
}

.partners__link:hover {
  opacity: 1;
}

.partners__link:active {
  opacity: 0.1;
}
/* ****** */

/* ===== *** КАТАЛОГ *** ===== */
.filters-and-catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 57px;
}

/* ===== ФИЛЬТРЫ ===== */
.filters {
  width: 260px;
}

.filters__group {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  border: none;
}

.filters__group--special {
  margin-bottom: 55px;
}

.filters__group-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  color: #000000;
  text-transform: uppercase;
}

.filters__group-title--special {
  margin-bottom: 50px;
}

.filters__range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 14px;
  padding: 39px 20px;

  background-color: #eeeeee;
  border-radius: 2px;
}

.filters__range-controls-scale {
  height: 2px;

  background-color: #d7dcde;
}

.filters__range-controls-bar {
  width: 68%;
  height: 2px;

  background-color: #00ca74;
}

.filters__range-controls-toggle {
  position: absolute;
  top: 30px;
  left: 0;

  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filters__range-controls-toggle:hover {
  background-color: #009958;
}

.filters__range-controls-toggle--min {
  left: 18px;
}

.filters__range-controls-toggle--max {
  left: 160px;
}

.filters__range-inputs {
  font-size: 0;
}

.filters__range-inputs-label,
.filters__range-inputs-field {
  line-height: 1.375;
}

.filters__range-inputs-label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.filters__range-inputs-field {
  width: 80px;
  margin-left: 10px;
  padding: 8px 10px;

  font-size: inherit;
  font-family: inherit;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 2px;
}

.filters__range-inputs-label[for="max-price"] {
  text-align: right;
}

.filters__list {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.filters__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.filters__list-item-label {
  position: relative;

  line-height: 1.25;
  color: #283136;

  cursor: pointer;
}

.filters__list-item-label::before {
  content: "";

  display: inline-block;

  vertical-align: middle;

  border-style: solid;
  border-color: #4d4d4d;
  opacity: 0.4;
}

.filters__list-item-label::after {
  content: "";
  position: absolute;

  display: block;
}

.filters__list-item-radio + .filters__list-item-label::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;

  border-width: 4px;
  border-radius: 50%;
}

.filters__list-item-radio:checked + .filters__list-item-label::after {
  top: 8px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.filters__list-item-checkbox + .filters__list-item-label::before {
  width: 23px;
  height: 23px;
  margin-right: 12px;

  border-width: 2px;
  border-radius: 2px;
}

.filters__list-item-checkbox:checked + .filters__list-item-label::after {
  top: -4px;
  left: 6px;

  width: 20px;
  height: 11px;

  -webkit-box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #b8b8b8, -6px 6px 0 #ffffff;
          box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #b8b8b8, -6px 6px 0 #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters__list-item-radio:hover + .filters__list-item-label::before,
.filters__list-item-radio:hover + .filters__list-item-label::after,
.filters__list-item-checkbox:hover + .filters__list-item-label::before {
  opacity: 1;
}

.filters__list-item-checkbox:hover + .filters__list-item-label::after {
  -webkit-box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #4d4d4d, -6px 6px 0 #ffffff;
          box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #4d4d4d, -6px 6px 0 #ffffff;
}

.filters__list-item-radio:disabled + .filters__list-item-label,
.filters__list-item-checkbox:disabled + .filters__list-item-label {
  opacity: 0.3;
}

.filters__list-item-radio:disabled + .filters__list-item-label::before,
.filters__list-item-radio:disabled + .filters__list-item-label::after,
.filters__list-item-checkbox:disabled + .filters__list-item-label::before {
  opacity: 0.1;
}

.filters__list-item-checkbox:disabled + .filters__list-item-label::after {
  -webkit-box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #ededed, -6px 6px 0 #ffffff;
          box-shadow: inset 2px -2px 0 #ffffff, -4px 4px 0 0 #ededed, -6px 6px 0 #ffffff;
}

.filters__form-button {
  padding-right: 89px;
  padding-left: 89px;

  color: #000000;

  border: none;
}

/* ===== РЕЗУЛЬТАТЫ ===== */
.catalog {
  width: 760px;
}

/* ===== СОРТИРОВКА ===== */
.sorting-methods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}

.sorting-methods__title {
  margin-top: 0;
  margin-right: 265px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.sorting-methods__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 280px;
  max-width: 540px;
  margin: 0;
  margin-right: 35px;
  padding-left: 0;

  list-style: none;
}

.sorting-methods__list-item:not(:last-child) {
  margin-right: 25px;
}

.sorting-methods__item-link {
  font-size: 14px;
  line-height: 1.43;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.sorting-methods__controls-btn {
  display: inline-block;
  width: 0;
  height: 0;

  vertical-align: middle;

  border-right: 5px solid transparent;
  border-bottom: 9px solid #000000;
  border-left: 5px solid transparent;
  opacity: 0.2;
}

.sorting-methods__controls-btn--decrease {
  margin-right: 15px;

  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-methods__item-link:hover,
.sorting-methods__controls-btn:hover {
  opacity: 0.6;
}

.sorting-methods__item-link.active,
.sorting-methods__item-link:active,
.sorting-methods__controls-btn.active,
.sorting-methods__controls-btn:active {
  opacity: 1;
}

/* ===== КАРТОЧКИ ===== */
.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style: none;
}

.catalog__list-item {
  width: 360px;
  margin-bottom: 33px;
}

.catalog__list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.catalog__card {
  position: relative;

  font-size: 0;

  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 850ms;
          transition-duration: 850ms;
}

.catalog__card:hover {
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog__card-header {
  height: 40px;
  padding-top: 13px;
  padding-left: 16px;

  font-size: 0;

  background-color: #4d4d4d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  opacity: 0.12;

  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.catalog__card:hover .catalog__card-header {
  opacity: 1;
}

.catalog__card-header-item {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 9px;

  background-color: #ffffff;
  border-radius: 50%;
}

.catalog__card-info {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 26px;
  padding-right: 60px;
  padding-bottom: 43px;
  padding-left: 60px;

  font-size: 16px;
  text-align: center;

  background-color: #eeeeee;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;

  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

.catalog__card:hover .catalog__card-info {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.catalog__card-name {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.667;
  color: #000000;
  text-transform: uppercase;
}

.catalog__card-desc {
  margin-top: 0;
  margin-bottom: 30px;

  line-height: 1.125;
  color: #666666;
}

.catalog__card-price {
  padding-right: 60px;
  padding-left: 60px;
}

/* ===== ПАГИНАЦИЯ ===== */
.catalog__pagination {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.catalog__pagination-item {
  display: inline-block;
  margin-right: 11px;

  vertical-align: top;
}

.catalog__pagination-btn {
  display: inline-block;
  width: 50px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 1.125;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 2px;
}

.catalog__pagination-btn:hover {
  background-color: #dfdfdf;
}

.catalog__pagination-btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px 0 0 #bfbfbf;
          box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.catalog__pagination-btn.current {
  background-color: #ffffff;
  -webkit-box-shadow: inset 3px 0 0 0 #dbdbdb, inset 0 3px 0 0 #dbdbdb, inset -3px 0 0 0 #dbdbdb, inset 0 -3px 0 0 #dbdbdb;
          box-shadow: inset 3px 0 0 0 #dbdbdb, inset 0 3px 0 0 #dbdbdb, inset -3px 0 0 0 #dbdbdb, inset 0 -3px 0 0 #dbdbdb;
}

.catalog__pagination-btn--special {
  width: 260px;
}
